 /* Footer css */
 footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0 0px 0px;
}
  .footer-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .form-control,
  .btn-primary {
    border-radius: 10px;
  }

  .footer-bottom {
    text-align: center;
    padding-bottom: 15px;
    font-size: 0.9rem;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #0d6efd;
  }

  .btn-outline-insta{
    border:  rgba(241, 8, 249, 0.664) solid 1px !important ;
    color: rgb(209, 0, 174) !important;
    transition: 0.1s;
  }
  .btn-outline-insta:hover{
    color: #fff !important;
    background: rgb(144,8,222);
    background: linear-gradient(153deg, rgba(144,8,222,1) 3%, rgba(255,0,164,1) 48%, rgba(245,255,0,1) 100%);;
  }

  .btn .btn-outline-danger{
    color: red !important;
  }